Flask>=2.3.3
Flask-SQLAlchemy>=3.0.0
Flask-Login>=0.6.2
Flask-WTF>=1.1.1
Flask-Mail>=0.9.1
Flask-Cache>=0.13.1
Flask-Session>=0.5.0
Flask-SocketIO>=5.3.4
Flask-Limiter>=3.12.0
Flask-Paginate>=2022.1.8
Pillow>=10.0.0
bleach>=6.0.0
markdown>=3.4.4
Werkzeug>=2.3.7
SQLAlchemy>=2.0.0
itsdangerous>=2.1.2
pyotp>=2.8.0
python-dotenv>=1.0.0
humanize>=4.7.0 